#!/bin/bash
set -e
cd /home/proxy/containers/proxy-manager
/usr/local/bin/docker-compose pull
/usr/local/bin/docker-compose up -d
cd /home/proxy/containers/portainer
/usr/local/bin/docker-compose pull
/usr/local/bin/docker-compose up -d
